@page
@using ContosoCrafts.WebSite.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h3 class="display-4">Top Sights in Pakistan</h3>
    <p>Know about <a href="https://www.linkedin.com/in/syedfahadshamim/" target="_blank">this Website's creator</a>.</p>
</div>


@(await Html.RenderComponentAsync<ProductList>(RenderMode.ServerPrerendered))

<div class="text-center">more places will be added soon!</div>

<script src="_framework/blazor.server.js"></script>